* {
    margin: 0;
    padding: 0;
}

html, body {
    background: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

video {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.pad_me {
    box-sizing: border-box;
    padding: 50px;
}

.local {
    top: 138px;
    left: 184px;
    height: 102px;
    width: 136px;
}

.remote {
    left: 0;
    top: 0;
    height: 240px;
    width: 320px;
}

#local_video {
    transform: scaleX(-1);
}

#console {
    display: none;
    position: absolute;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    font-size: 0;
}

#console input {
    height: 100%;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 0px #666;
    font-family: monospace;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: #BBB;
    background: #222;
    border: none;
    outline: none;
}

#console input[type=file] {
    position: absolute;
}

#console input[type=text] {
    width: 90%;
}

.panel {
    box-sizing: border-box;
    display: inline-block;
    min-height: 100px;
    min-width: 100px;
    overflow: hidden;
    position: absolute !important;
}

.player {
    top: 0;
    right: 0;
    min-height: 180px;
    min-width: 320px;
    height: 540px;
    width: 960px;
}

.player .ui-resizable-handle {
    background: rgba(255, 255, 255, 0.2);
}

.player .ui-resizable-n {
    top: 0;
    left: 25px;
    right: 25px;
}

.player .ui-resizable-s {
    bottom: 0;
    left: 25px;
    right: 25px;
}

.player .ui-resizable-e {
    right: 0;
    bottom: 25px;
    top: 25px;
}

.player .ui-resizable-w {
    left: 0;
    bottom: 25px;
    top: 25px;
}

.player .ui-resizable-se {
    right: 0;
    bottom: 0;
}

.player .ui-resizable-sw {
    left: 0;
    bottom: 0;
}

.player .ui-resizable-nw {
    left: 0;
    top: 0;
}

.player .ui-resizable-ne {
    right: 0;
    top: 0;
}

.ui-resizable-handle {
    background: rgba(0, 0, 0, 0.2);
    transition: background 0.75s;
}

.ui-resizable-n {
    height: 25px;
    top: 25px;
    left: 50px;
    right: 50px;
}

.ui-resizable-s {
    height: 25px;
    bottom: 25px;
    left: 50px;
    right: 50px;
}

.ui-resizable-e {
    width: 25px;
    right: 25px;
    bottom: 50px;
    top: 50px;
}

.ui-resizable-w {
    width: 25px;
    left: 25px;
    bottom: 50px;
    top: 50px;
}

.ui-resizable-se {
    width: 25px;
    height: 25px;
    right: 25px;
    bottom: 25px;
}

.ui-resizable-sw {
    width: 25px;
    height: 25px;
    left: 25px;
    bottom: 25px;
}

.ui-resizable-nw {
    width: 25px;
    height: 25px;
    left: 25px;
    top: 25px;
}

.ui-resizable-ne {
    width: 25px;
    height: 25px;
    right: 25px;
    top: 25px;
}
